

<div class="position-relative">

    <div class="forgot-box widget-box no-border visible">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger" align="center">
                    <i class="ace-icon fa fa-key"></i>
                    Thank you for confirming your email
                </h4>

                <div class="space-6"></div>

            </div><!-- /.widget-main -->

            <div class="toolbar center">
                <a href="@Url.Action("Login", "Account")" data-target="#login-box" class="back-to-login-link">
                    Back to login
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div><!-- /.widget-body -->
    </div><!-- /.forgot-box -->


</div><!-- /.position-relative -->