@{
    ViewBag.Title = "Login Failure";
}

<div class="position-relative">

    <div class="forgot-box widget-box no-border visible">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger">
                    <i class="ace-icon fa fa-key"></i>
                    @ViewBag.Title
                </h4>
                <h3 class="text-danger">Unsuccessful login with service.</h3>
                <div class="space-6"></div>


            </div><!-- /.widget-main -->
        </div><!-- /.widget-body -->
    </div><!-- /.forgot-box -->
</div>