@model mjaang_bugtracker.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="position-relative">

        <div class="forgot-box widget-box no-border visible">
            <div class="widget-body">
                <div class="widget-main">
                    <h4 class="header red lighter bigger">
                        <i class="ace-icon fa fa-key"></i>
                        Retrieve Password
                    </h4>

                    <div class="space-6"></div>
                    <p>
                        Enter your email and to receive instructions
                    </p>
                    @Html.ValidationSummary("", new { @class = "text-danger" })

                    <fieldset>
                        <label class="block clearfix">
                            <span class="block input-icon input-icon-right">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                <i class="ace-icon fa fa-envelope"></i>
                            </span>
                        </label>

                        <div class="clearfix">
                            <input type="submit" class="btn width-35 pull-right btn btn-sm btn-danger" />
                        </div>
                    </fieldset>

                </div><!-- /.widget-main -->

                <div class="toolbar center">
                    <a href="@Url.Action("Login", "Account")" data-target="#login-box" class="back-to-login-link">
                        Back to login
                        <i class="ace-icon fa fa-arrow-right"></i>
                    </a>
                </div>
            </div><!-- /.widget-body -->
        </div><!-- /.forgot-box -->


    </div><!-- /.position-relative -->
}