@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="position-relative">

    <div class="forgot-box widget-box no-border visible">
        <div class="widget-body">
            <div class="widget-main">
                <h4 class="header red lighter bigger">
                    <i class="ace-icon fa fa-key"></i>
                    Email Address Confirmed
                </h4>

                <div class="space-6"></div>
                <p>
                    Thank you for confirming your email address. You will receive an email that contains a link to change your password soon.<br />
                    Please click @Html.ActionLink("here", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) to login.
                </p>

            </div><!-- /.widget-main -->

            <div class="toolbar center">
                <a href="@Url.Action("Login", "Account")" data-target="#login-box" class="back-to-login-link">
                    Back to login
                    <i class="ace-icon fa fa-arrow-right"></i>
                </a>
            </div>
        </div><!-- /.widget-body -->
    </div><!-- /.forgot-box -->
</div>

