@{
    ViewBag.Title = "Reset password confirmation";
}

                        <div class="position-relative">
                            <div class="signup-box widget-box no-border visible">
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <h4 class="header green lighter bigger">
                                            Reset Password Confirmation
                                            </h4>
                                            <p>
                                                Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                                            </p>
                                    </div>
                                </div><!-- /.widget-body -->
                            </div><!-- /.signup-box -->
                        </div><!-- /.position-relative -->
